<form>
  <input [(ngModel)]="inputContact.firstName" placeholder="First Name (required)" name="firstName" required/>
  <input [(ngModel)]="inputContact.lastName" placeholder="Last Name (required)" name="lastName" required/>
  <input [(ngModel)]="inputContact.phone" placeholder="Phone" name="phone" />
  <input [(ngModel)]="inputContact.email" placeholder="Email" name="email" />
  <input [(ngModel)]="inputContact.address" placeholder="Address" name="address" />
  <button (click)="addContact()" [disabled]="!inputContact.firstName || !inputContact.lastName">Submit</button>
</form>