input {
  display: block;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

button {
  margin: 50px;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}